body{
    margin: 0;
}
header{
    position: relative;
    width: 100%;
    z-index: 100;

}

/* ------ section_user ----- */

.section_user{
    position: fixed;
    width: 100%;
    background-color: #1e1e27;
    display: flex;
    justify-content: space-between;
    padding: 0 80px 0 80px;
    color: #FFFF;
}

.section_user h4{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: 200;
    
}

.section_panel{
    height: 3rem;
}

.section_panel ul{
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;

}

.menu_general{
    position: relative;
    height: 100%;
    z-index: 10000;
}

.section_panel li{
    display: inline-block;
    list-style: none;
}

.menu_show{
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    border-right: 1px solid #dddd;
    height: 100%;
    z-index: 1000;
}

.link_li{
    margin: 0 20px;
    display: flex;
    align-items: center;
    color: #FFFF;
    text-decoration: none;
    height: 100%;
}

.menu_show:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.submenu{
    position: absolute;
    clip-path: var(--clip);
    display: flex;
    flex-direction: column;
    padding: 0;
    transition: 0.3s;
    width: max-content;
    z-index: 100000;
    
}



.submenu{
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 2px -1px 15px 5px rgba(0,0,0,0.78); 
    box-shadow: 2px -1px 15px 5px rgba(0,0,0,0.78);
}

.submenu a{
    display: flex;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgb(192, 191, 191);
    padding: 20px 8px;
    justify-content: center;
}

.submenu li{
    text-align: center;
    padding:0 10px;
    color: #000;
    margin: 0;
}

.nav_container{
    width: 100%;
    height: auto;
    position: relative;
    -webkit-box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.57); 
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.57);
    padding: 30px 0;
    top: 3rem;
    z-index: -1;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 80px 0 80px;

}

.nav li{
    display: inline-block;
    list-style: none;
    margin-right: 30px;
}

/* ------ FIN section_user ----- */

/* ---------------------------------------------------------- */

/* ------ nav_container ----- */

.nav a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
}

.nav li{
    margin-left: 15px;
}

/* ------ FIN nav_container ----- */


.panel_user_container{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background-color: #bbb;
    height: 100vh;
    width: 600px;
    position: absolute;
    right: -5rem;
    z-index: 1000;
}

.panel_user_show{
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    transition: 0.5s;
}

.configClose{
    transition: 0.5s;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.panel_user_container li{
    display: block;
    margin-bottom: 1rem;
    list-style: none;
}

.panel_user_container a{
    text-decoration: none;
    color:#FFF;
}

.email_green{
    font-weight: 800;
    color: rgb(39, 166, 39);
}

.email_red{
    font-weight: 800;
    color: rgb(159, 5, 5);
}

.name img{
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    
}