/* ---- offer main ---- */
.container_main{
    position: relative;
    top:3rem;
    z-index: 10;
}
.image_offer{
    background-image: url(../img/imagen_main_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 700px;
}

.image_offer h4{
    margin: 0;
    color: aliceblue;
    text-shadow: 0 1px 1px black;
}

.image_offer h1{
    width: 480px;
    margin: 15px 0 30px 0;
}

.image_offer_text{
    height: 700px;
    width: max-content;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image_offer_text a{
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: rgb(232, 83, 83);
    width: max-content;
    transition: 0.3s;
}

.image_offer_text a:hover{
    background-color: rgb(241, 132, 132);
}

/* ----  FIN offer main ---- */

/* ---------------------------------------*/

/* ---- SECTIONS ---- */

.sections{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.sections a{
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 3rem;
    width: max-content;
    padding: 2px 50px;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.sections a:hover{
    color:rgb(0, 0, 0);
    font-size: 30px;
    padding: 10px 75px ;

}

.section_active{
    background-color: rgb(232, 83, 83);
}


.link_search_section a{
    color: rgb(0, 0, 0);
}


.section_active a{
    color: rgb(255, 255, 255);
}

.section_women{
    box-shadow: 0px 1px 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/section_mujer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    min-width: 400px
}

.section_accesories{
    box-shadow: 0px 1px 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/section_accesorios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    min-width: 400px
}

.section_men{
    box-shadow: 0px 1px 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/section_hombre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    min-width: 400px
}

/* ----  FIN SECTIONS ---- */

/* ------------------------------------ */

/* ------ NEW ARTICLES ----- */ 

.new_articles{
    margin: 60px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.new_articles h1{
    margin: 0;
    margin-bottom: 30px;
    font-size: 55px;
}

.line{
    background-color: rgb(235, 84, 84);
    height: 5px;
    width: 60px;
    margin-bottom: 30px;
}


.list_search_section{
    margin: 0;
    padding: 0;
}
.list_search_section li{
    display: inline-block;
    list-style: none;
    border: 1px solid rgb(191, 189, 189);
    padding: 10px 20px;
}

.list_search_section a{
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    
}

.grid_search_section{
    margin: 40px auto;
    display: flex;
    padding: 0 200px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.item_galery{
    padding: 0px;
    margin: 0 auto;
    box-shadow: 1px 0px 3px black;
    min-width: 500px;
    height: auto;

}

.item_galery img{
    max-width: 500px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

/* ---- FIN NEW ARTICLE ----- */

/* -------------------------------------- */

/* ----- OFERTA DE LA SEMANA ------- */

.offer_week{
    background-image: url(../img/imagen_main_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: flex-end;
}

.offer_week_text{
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-top: 100px;
}

.offer_week_text h1{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 3px black;
}

.offer_week_text a{
    margin-top: 50px;
    width: 170px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    background-color: black;
    border-radius: 4px;
    text-decoration: none;
    color: #FFF;
    padding: 10px 30px;
}

/* ------ FIN OFERTA DE LA SEMANA --------- */

/* --------------------------------------------------- */

/* ------ LO MAS VENDIDO --------- */


.best_sellers{
    margin: 60px 0 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.best_sellers h1{
    margin: 0;
    margin-bottom: 30px;
    font-size: 40px;
}

.line{
    background-color: rgb(235, 84, 84);
    height: 5px;
    width: 60px;
    margin-bottom: 30px;
}

.option_shop{
    display: flex;
    width: 100%;
    justify-content: center;
}

.transport{
    background-color: #ddd;
    margin-right: 2px;
    padding: 12px 30px;
}

.money{
    background-color: #ddd;
    margin-right: 2px;
    padding: 12px 30px;
}

.return{
    background-color: #ddd;
    margin-right: 2px;
    padding: 12px 30px;
}

.open_hour{
    background-color: #ddd;
    padding: 12px 30px;
}


/* ------- FIN LO MAS VENDIDO ------- */
