
.search_img{
    max-width: 500px;
    height: auto;
}

.search_img img{
    max-width: 500px;
    height: auto;
}

.upload_container{
    flex-direction: row;
}

.upload_container input{
    margin: 1px 3px;
}